<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Employee</title>
    <link rel="stylesheet" href="/static/add_employee.css">
    <link rel="icon" href="/static/favicon/employee_list.jpg" type="image/jpeg">
</head>
<body>
    <div>
        <h1>Add New Employee</h1>
        <form method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="department">Department:</label>
            <input type="text" id="department" name="department">
            
            <label for="position">Position:</label>
            <input type="text" id="position" name="position">
            
            <button type="submit">Add Employee</button>
        </form>
    </div>
</body>
</html>
